  
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f0f0f0;
    }

    /*.card-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }*/

 /*   .card {
      flex: 25%;
      flex-basis: 25%;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }*/

    .card:hover {
      transform: translateY(-5px);
    }

    @media screen and (max-width: 768px) {
      .card-container {
        flex-wrap: wrap;
      }

      .card {
        flex-basis: 45%;
        margin-bottom: 20px;
      }
    }

    @media screen and (max-width: 480px) {
      .card {
        flex-basis: 100%;
      }
    }
  